#home{
  background-color: #f75a4f;
}

#page2{
  background-color: #f7984f;
}

#page3{
  background-color: #f7e14f;
}

#page4{
  background-color: lightgreen;
}

ul{
  list-style: none;
}

ul a:link {
  text-decoration: none;
}
